MapData(
    map: 
        r"
        ○ . .
        ",
    win: WinCondition(
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (x: 2, y: 0),
        ])
    )
)