MapData(
    map: 
        r"
        o . . # . . . .
        . . . . . . . #
        . . . . . . . .
        . . # . . . . o
        . . . . . o # .
        ",
    win: WinCondition(
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (7, 2),
            (7, 3),
            (7, 4),
        ])
    )
)