MapData(
    map: 
        r"
        # o . .
        . ◥ . .
        . . . #
        ",
    win: WinCondition(
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (1, 2),
        ])
    )
)
