MapData(
    map: 
        r"
        ○ ▨ ▨ . ○
        . . ▨ . .
        ",
    win: WinCondition(
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (x: 1, y: 1),
            (x: 4, y: 1),
        ])
    )
)