MapData(
    map: 
        r"
        . ▨ ○ ▨ ○ ▨ . .
        . ▨ . ▨ . ▨ ▨ .
        . . . ▨ . . . .
        ",
    win: WinCondition(
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (x: 0, y: 0),
            (x: 6, y: 0),
        ])
    )
)