MapData(
    map: 
        r"
        ○ . . . . ▨ . . . .
        ○ . ○ ○ ▨ . . . . ▨
        . . . . . ▨ ▨ . . .
        ○ ○ . ▨ ○ . . . . ○
        . ○ . . . . . ○ ▨ .
        ○ . ▨ . . ○ . ▨ . ▨
        . . ○ . . ▨ ○ . . ○
        . . . . . . . ○ . .
        ▨ . . . . ▨ ▨ ▨ . .
        ▨ ○ ○ . . ▨ . . . .
        ",
    win: (
        general: (
            max_moves: Some(3)
        ),
        rocks: Pos([
            (8, 0),
            (9, 0),
        ])
    )
)