MapData(
    map: 
        r"
        o . . . . # . . . .
        o . o o # . . . . #
        . . . . . # # . . .
        o o . # o . . . . o
        . o . . . . . o # .
        o . # . . o . # . #
        . . o . . # o . . o
        . . . . . . . o . .
        # . . . . # # # . .
        # o o . . # . . . .
        ",
    win: (
        general: (
            max_moves: Some(3)
        ),
        rocks: Pos([
            (8, 0),
            (9, 0),
        ])
    )
)