MapData(
    map: "
○ . ○ ▨ . . . . ○ . ○ . . . ○ . . ○ ○ ▨ ○ ○ ▨ ▨ . . ○ . . ▨ ▨ . . . ▨ . . . . . . . . . . ○ ○ . . ▨ . ○ ○ . . . . . . . . . . . . . . . . . . . ○ . . ○ ▨ ▨ . ▨ ○ ○ ○ . . . ○ ▨ . ▨ . ▨ . ○ . ○ ▨ ○ ○ .
. ○ . . ○ ○ . . ○ . ○ . . ○ . . . . . . ○ ○ . ▨ . . . . ▨ ○ ▨ . ▨ . ▨ . ▨ . ▨ . ○ . ○ ○ . . . ▨ . ○ ▨ . ○ ○ ○ . ▨ . ▨ . ▨ . ○ ○ . . ▨ . ▨ ○ . . . ○ . ○ . ○ . ○ ▨ . ▨ . ○ . ○ . . . . ▨ . . ○ ▨ ○ . . .
○ . . . . ▨ . . ○ . . ○ . ○ ○ . . ▨ ○ ○ . ○ . . . . . ○ ▨ ○ ○ ○ . . ▨ . ▨ . . . . . . ○ . . . ▨ . . ▨ . . ○ . . . . . . ▨ ○ . ▨ . ○ . ▨ . ○ . . . ▨ . ▨ . ▨ . . . . . . . . . ○ ▨ . . . . . . . ▨ ○ ○ .
. . . . . . ○ . ○ ▨ ▨ . . . . . . ▨ ▨ ▨ ○ ○ ▨ . . ○ ▨ . ▨ . . . ○ . . . ○ . . . . . ▨ ▨ . . . . . . . . . ▨ . ○ ○ . ▨ . . . . . . . . ▨ ○ ○ . ○ . . . . ▨ ▨ ▨ . . . ▨ . ▨ ▨ . . ○ . . . . . . . . ○ . ▨
▨ . ○ ○ . . . . . ○ ○ ○ . . . . ○ . . . . . ○ ○ . ○ ○ ○ . . ▨ ○ . ○ ○ . . . ▨ . . . ○ . . . . . . ○ ○ ▨ ▨ ▨ . . . . . . . . ○ . . ▨ . ▨ . ○ . . ○ . . . . . . ○ ▨ . . . ○ . . . . . ▨ . ▨ . . . ▨ ▨ . .
▨ . . ○ . ▨ . . ○ ○ . ○ ○ . ○ . ○ ○ ○ ▨ ○ . . . ○ . . . . . . ○ . . ▨ ○ . . ○ ▨ . ○ . ○ . ○ ▨ . . . . ○ . ▨ ○ . ○ . . . . . ▨ . . ▨ . . ○ . ○ . ▨ ○ . . ○ . . . . ○ ▨ . ○ . . ▨ . . . . ○ ▨ . . . . . .
▨ . . ○ ▨ . . . ○ . ○ . ○ . . ○ . . . ▨ . ○ . ▨ . ○ . . . . . . . . . . ○ . ▨ . ▨ . . . . . . . . . ○ . . . . . . . ▨ ▨ . . . ▨ . . ○ . ○ ○ ▨ . . . . . . ▨ . . . . . . . ○ . ▨ . ▨ . . ▨ . ○ ○ ▨ ▨ ○ .
○ . ○ . . ○ . . ▨ . . . . . . ▨ . . . . ▨ ○ . . . . ○ . . ○ ▨ . ○ ○ ○ . . ▨ . . ○ ▨ . ○ ○ ▨ . . . . . . . . . ○ . . ▨ ▨ . . . ○ . . ▨ . . . . . . . . . ○ ▨ ▨ . . . ○ . . . . ○ . . ○ . ○ . ○ . . ○ . .
○ . ○ ▨ . ○ . . . ○ ○ . . . . ○ . . . . ▨ ▨ ○ . ○ . . . . . . ○ . ○ . . ○ . . . . ▨ . . . ○ . . . ○ ▨ ▨ . . . . . . . . ▨ . . . . . . . ▨ . . . . ○ . . ○ . . . . . . . ○ . . . ▨ ○ . . . . . ▨ . . . .
. . ○ . ▨ . . ▨ . . ○ ○ . ○ . . ▨ . . . ▨ . . ○ ▨ ○ ○ ○ . . ▨ . ○ . ▨ ○ ▨ ○ ○ ○ . . . . ▨ . . ○ ○ ○ . ▨ ○ . . ○ . . ▨ . ○ ○ ○ ○ . . . . . . . . . ○ ▨ . . ○ . . ○ . . . ○ . ▨ ▨ . . ○ . . . . . . ▨ . .
▨ ▨ . . ▨ . . ▨ . . . . . ○ . . ○ ○ ▨ ▨ ▨ . . . . . . . . . ▨ ▨ . . ▨ ▨ . . ○ ○ . . . ▨ . . ▨ ○ . ▨ . . . . . . ▨ ○ . . . ○ . . . . . ▨ . . . . . . . . ▨ . . . . ○ ○ . ▨ ○ ○ . ▨ . ○ . . . . ▨ . ○ ▨ ○
. ○ . . . . . ○ . ○ . ○ . . . . ▨ ○ ○ . . ○ . ▨ ▨ ○ ○ ▨ . . ○ . . . . . ○ . . ▨ . . ○ . . ▨ . . . . ○ . . ○ ▨ . . . . ○ . . ▨ . ○ ○ . . ○ . . . . ○ ○ . . ○ . ○ . . ○ ▨ . . . . . ○ . ○ . ▨ ○ . . ○ ○ .
○ ▨ ○ . ▨ ▨ ○ ▨ . . . . . . . . . . . . . . . . . . ○ . ○ ○ . . . ▨ . . . ▨ . . ▨ ○ . . . . ○ . . ○ . . ○ ○ ▨ . ○ ▨ . . . ▨ ▨ . ○ . . . ▨ ▨ . ○ ○ ▨ . . . . . ○ . ▨ . ▨ . . . ▨ ▨ . . ○ . ○ ○ . . ○ . .
○ . . . . . ○ ○ . . ○ ○ . . ▨ ○ ○ ▨ . . . . . ○ . ○ . ▨ . . . . ○ ○ . ▨ . . . ▨ ▨ ▨ . . . . . . . ○ ▨ . . . ▨ ▨ . . . . ▨ ▨ . ○ . . ▨ ▨ . . . . . . ▨ . . . . . . ○ ▨ ○ . . ○ ○ . ○ ○ . . . . ○ . . . .
. . . . . . . ○ . ○ . ▨ . . ○ . . ○ . ▨ . ○ . . ○ . ○ ▨ ○ . ▨ . . . . ▨ ▨ . ○ ○ . ▨ . . . ▨ . ○ ○ ▨ . . ○ . . . ▨ . . ○ . . . ○ . . . ▨ . ▨ . . . ○ ▨ . . . . . ○ ▨ ○ . . . . . . . . ○ . . . ▨ ▨ . ▨ ○
▨ . . . . ○ . . ○ . . ○ ○ ○ . . . ▨ . . . . ▨ . ▨ ▨ . ▨ . . . . ○ . . . . . . . . . . . . . ▨ ▨ ○ ▨ . . . ▨ . . ○ . ○ . ▨ ▨ . . ▨ . ○ . . ○ . ▨ . . . ▨ . ○ . ▨ ▨ ○ . . ▨ ▨ . ▨ . . . ○ . . . . . . ▨ ▨
. ○ . . . ▨ ▨ . ○ . . . . . ▨ ○ ○ . ○ . . ○ . . ▨ ○ . ▨ . ▨ . . . ○ . . . . ▨ . . . ▨ . . . ○ . . ▨ ○ . . . . . . . . . . . ▨ ▨ . . ○ ○ ▨ ▨ . . . ▨ . . . ▨ . . ○ ▨ ○ . . . . . . . . . ○ . . ▨ . . ▨ ○
○ . . . ○ . . . ○ . . ▨ . . ▨ ○ ○ . . . . . ○ ○ ○ . ▨ . . . . . . . . . ○ . . ○ . . . . . . . ▨ . ▨ . ▨ . . . ○ ○ ▨ ▨ . . ○ . . . ○ . . . . . ○ ▨ . ▨ . . ○ . . . . . . . . ▨ . ▨ . ○ . ○ . . ▨ ▨ . ▨ .
. ▨ ▨ ▨ . . . ▨ . . . . . ▨ . . ▨ ○ . ○ . . . . . . . ○ . . . . . ○ ▨ . ○ ○ . . . . ▨ ▨ . ○ ○ . . . . . . . . . ○ ▨ . . . ○ ○ . ○ ○ ▨ . ▨ . . . . ▨ ○ ▨ ○ ○ . ○ . . ▨ . ○ ○ ○ ○ ○ . . . . . ○ . . . ○ .
○ ▨ . ▨ . . ▨ . . ○ ○ . . . ○ . . ○ ○ . ▨ . . . ▨ . . . . . . . . . . ▨ ○ ○ ▨ . ▨ . . ○ . ▨ . . . ▨ ▨ ○ . . . ▨ . . ○ . ○ . . . . ▨ . ○ . . . . ▨ . . ▨ ▨ . ▨ . ▨ . ▨ ○ . ▨ . . . ▨ . . ▨ . . . ○ ▨ . .
. ▨ . . ▨ ○ ○ . . . . . ○ . . ○ . . . . ○ . . . . . . . . ○ ▨ . ○ . ○ ○ . . . . ▨ ▨ . . . . ○ ○ . . . . ○ ▨ ▨ ○ . . ▨ ▨ . ▨ ○ . . ○ ▨ ○ ▨ ▨ . ○ . ○ . ○ ▨ . . ○ ○ . . . . . ○ ▨ . ▨ . . . . . . . . . ▨
○ . ○ . ▨ . . ▨ ○ . . . ○ . . ○ . . ○ . . . . ○ . . . . . ▨ ○ ○ ○ . ○ . . . . . . . ○ ▨ . ○ ○ . . ○ . . . . . ▨ ○ . . . ○ ▨ . . . ○ . . . ○ . . . . . . ▨ . ▨ . ▨ . . . . ▨ . . ▨ ○ ○ . ▨ ○ ○ ○ . . . ▨
. ○ . . . . . ○ . . ▨ ○ . ▨ ▨ ○ ○ . . ▨ ○ ○ ○ ○ . . ▨ ○ . ○ . ▨ ○ . . . . ○ ○ ▨ ○ ○ ○ . . . . ○ . . . . ○ ○ . . . ○ . . . . . . . . ▨ . . ○ . . . ○ . . . ○ . . . . ▨ . ○ ▨ ○ . ○ . ▨ ○ . ▨ . ○ . ○ . .
. . . . . . . . ○ . ○ . . . . . . . ○ . . . ○ ○ . . . ▨ ▨ ▨ . . ○ ○ . ○ . . . . . ○ ○ . ○ . . ▨ . . . ▨ ○ ○ . . ▨ . . . . ○ ▨ . . . . . . ▨ ▨ . . . . . . . . . ▨ . ▨ . . . ▨ . ○ . ○ . . . . ▨ . . . .
. ○ . . . . . ▨ ▨ . . ○ . . ▨ ○ ○ ▨ ○ ○ . ▨ ▨ . . . ▨ ○ . . ▨ . ○ ○ . . ▨ . . ○ . ▨ ○ . . . . . . ▨ ○ . . . . . . . . . . . . . . ○ . . . . . ○ . ○ . ▨ ○ . ○ . . ▨ ○ . ○ . . . ○ . ○ ○ . ○ ▨ . . ▨ ○ .
○ . . ▨ . ▨ . . . . . . ○ ▨ . . ○ ○ . . ▨ . . . . . . ○ . ○ . ○ ○ ○ . ○ . . . ○ . ▨ . . . . ▨ . . . . ○ ▨ . . . ○ . . . . ▨ ▨ . . ▨ . . . . . ○ . . ▨ . . . . ○ ▨ ○ ○ ○ . . . . ○ . ○ . . ○ . . . . . .
. . . . . ○ . ○ . . . . . ○ . ▨ . . ○ . . . ▨ ○ ▨ . ○ . . ○ ▨ ○ . . ▨ ○ . . ▨ ▨ . . . ○ . ▨ . . ○ . . . . . . . . ○ . ▨ . ○ . ○ . . . . . . ○ ○ . ▨ . . . . ○ . ▨ . ▨ . ○ . . ○ . . . . ○ ▨ . . . . ▨ .
. . ▨ . . . . . . ▨ ○ ○ . ○ . ▨ . ▨ . . ○ ○ . . . ▨ . ▨ . . ○ . ▨ . . . . ○ ▨ . ▨ ○ . ○ ○ ○ . . . . ○ ▨ ▨ ▨ . . . . . . ▨ . . . . ○ . ▨ ▨ . . ○ . . ▨ . ○ . ▨ . ▨ . ○ . . . . . . ○ ▨ . ○ ○ . . . . ▨ ○
▨ . . ○ . . . ○ ○ ○ . . ○ . . . . ○ ○ . ○ . . ▨ . . ○ . ○ ○ . ▨ ○ ○ . ○ ○ ○ ▨ . . . . ○ ○ ▨ . . . . . . ○ ○ . ○ . . . . ○ . ○ ○ . . ▨ ▨ . ○ . ▨ . . ○ . . . ▨ . ▨ . . . . . . . ○ . . . . . ▨ . . ○ . .
▨ . . ▨ ○ . . ○ . ○ . . . ▨ . . . . . . ○ ▨ ▨ . ○ . ▨ . . . . . . ▨ . . ○ ▨ ▨ . . . . ▨ ○ ▨ ▨ ▨ ▨ ○ ○ . ▨ . ▨ ▨ . ○ ▨ . ○ . ▨ . ▨ . . . ▨ . ○ ○ . . . . ○ . . . ▨ ○ . . . . ○ ○ ▨ ○ ▨ . ▨ ▨ ▨ . . . . .
. . ▨ ▨ . ▨ . . ○ . . ▨ ▨ ▨ ▨ . ▨ . ▨ . . ○ . . ○ . ▨ ○ . ○ ▨ . ▨ ▨ ▨ ○ . . . ▨ . ▨ ▨ ○ . ▨ . ▨ . ○ . ○ . . ▨ . . ○ ▨ . ○ . ○ ○ . ▨ . ○ ▨ . ○ . ○ ○ . ▨ . ○ . . ▨ . . . . . . ▨ . . . ▨ . . ○ ▨ ▨ ○ . .
. ▨ . ▨ . . ○ . . . ▨ . . ○ . ○ . ○ . ○ ▨ ○ . . ▨ ▨ ▨ ○ . ○ . . ▨ ○ . . ▨ ▨ . . ▨ . ▨ . . . ▨ ○ ○ . . . . . . . . . ○ ▨ . . . . . ▨ ▨ . . . . ▨ ○ . . ▨ . . . ○ . . . ▨ . . . ▨ . . . ○ ○ . . . ○ . . ○
. . ○ ○ ○ . . ○ . . ▨ ○ ○ ○ . ○ . ▨ . . ▨ . . . . . . ▨ . . . . ○ ○ . . . . . . . . . ○ . ▨ . ○ . . . ○ ▨ . . . . . . ○ . ○ . . . ▨ ▨ . ▨ . . ▨ . ○ ○ ▨ ○ . . . . . ○ . . . . . . ▨ . . . . . . . . ▨ .
○ . ▨ ○ . . . . ○ . . ○ . . ○ . . . . . . . ○ . . . . . . . . . . ▨ . . ○ ○ ▨ ○ ○ . ○ . . . ▨ . ○ ▨ . ○ . . . . ○ . . . . . . . . . . ○ . . . . . ▨ . ▨ ▨ . . ▨ . . ▨ ▨ . ○ ▨ ○ . . . . ○ . ○ . . . ▨ .
. ▨ . ○ ○ ▨ ▨ . . . . . . ○ ▨ . ○ . . ▨ . . . ○ . . ○ . . . ▨ ▨ . . ▨ ▨ ○ . . ▨ ○ . . . . ▨ . . ▨ . . . ○ . . . ○ . . . ▨ . ▨ ▨ . . . ▨ . ○ ○ ▨ ▨ ○ . . . . . . . . . . ▨ ○ . . . . ○ . . . . ▨ . ○ . ○
. . ○ ▨ . . . . ○ ○ ○ . . . ○ ▨ . . . ▨ . . . . . ○ ○ ▨ ▨ . . ▨ . ○ . ○ . ○ . . ○ . . . ○ ○ ○ . . . . ▨ . ▨ . . . . . . . . . . . ○ ○ . ○ ▨ . ○ . ▨ ○ . . ▨ . . ○ ▨ ○ ▨ ○ . . . . ▨ . . ▨ . ○ . . . . .
. . . . ▨ . ▨ ○ . ▨ ○ ○ . . ▨ . . . . . ▨ . ○ ○ . ▨ . ○ . . ○ . ○ . ▨ ▨ ▨ ○ . ○ . . ▨ . ▨ ○ . . . ○ . . ▨ . . . ▨ . . ○ . . . . . . ○ . . . ▨ . . . . ▨ . . ○ ○ . . . . . . . . . . ▨ ▨ . . . . . . . .
. . . . . . ○ . ○ . . ○ . ○ . . ○ . ▨ . . . . . . . ○ ○ . ○ ○ . . ▨ ▨ . ○ . . . . . . . . . . . ○ ▨ ○ ○ . ○ ▨ . ▨ ○ ○ . ○ ○ . . . . . . . ▨ . ○ ○ ▨ . . ▨ ▨ ▨ ○ . ○ . . . . . . . . . ▨ . ▨ ○ ▨ . ○ . ▨
. ○ ○ ○ . . ▨ . ○ ▨ ○ . . . . ○ . . ▨ . . . . . . . ○ . . . ▨ . . ▨ . . . . . ○ ○ . . . ○ . . . . . . . . . . . . ▨ ○ . . . ○ ○ . . . . . . . . ▨ ○ ▨ ▨ . ▨ . ○ . ▨ . ▨ . ○ . . . . ○ ▨ . ○ . ○ ○ ○ ○ .
. . ○ . . ○ . ▨ ▨ ▨ ○ ○ . . ○ . . . . . . . . . ○ ○ . ○ ○ . . . ▨ ○ . . ▨ . . . ▨ ○ ○ . ▨ . . ○ ○ . . . . ○ . . ○ . ○ . . . ○ . ○ . . . . . ○ ○ . . . . . . . . ▨ . ▨ ▨ . . ▨ . . . . . . . ○ ○ . . . .
. . ○ ○ . . ▨ ○ . . . ○ . ○ . . ○ . . . ○ . ○ . ○ . . . . ▨ . ○ ▨ ▨ . . . . ▨ . . ○ . ○ . . ○ ○ . . ▨ . ○ ▨ . . ○ . . . . . . . . ○ . ▨ . . ▨ . . . . . . ○ ○ ▨ ○ . ○ . ○ . . ▨ . . . . . . ▨ ▨ . . . .
. . . ○ . . . . . ○ ○ . . ○ . ○ ○ ○ . . . . . . . . ○ . ▨ . . ○ ○ . . . ▨ . . . . . . . . ▨ . ▨ . . . ○ . ▨ ▨ ○ . ○ . ○ . ▨ . ▨ ○ . ○ . . . ○ . ○ ○ ○ . . ○ ○ . . . . . . ○ . . . ▨ . ▨ . . ○ ▨ ○ ▨ . .
○ ▨ . . . ○ ○ . . . ○ . . . ○ . . . . ○ . . ▨ . . . . ▨ ○ . . ▨ . . . . . . . . . . . ○ . . . . . . . . . . ○ . ○ . . ▨ ▨ . . . . ○ . . ▨ ○ ○ . ○ . ▨ . . . . . . . . ▨ . ○ ○ . . ▨ ▨ . . . . ○ ○ . . ○
. . . ▨ . . . . ▨ . . . . . ○ ○ ○ ○ . . ▨ ○ . . ▨ . . . ○ . . . ○ ○ . ▨ . . . ○ ○ ▨ . . . ▨ ▨ . . ▨ . ▨ . . . . ○ . . . ○ ▨ . ○ ○ . . . ▨ ▨ . . ○ . ○ ▨ . . . ○ . . . . . ▨ . . ○ . ○ ○ . . . ○ . . ○ .
▨ . . ▨ . ○ . ▨ ▨ . ○ . . ○ . ○ . . . ○ ○ ○ . . . . . . . ▨ ▨ ▨ . . ▨ . . . ○ . ○ ○ . . . . ▨ ○ ▨ . . . . . ▨ ○ ▨ ○ . ○ ○ . . ○ . . . . . ▨ . ▨ ▨ . ▨ . . ○ . ▨ . . . ○ . ○ ○ ○ . . . ○ ▨ ○ . . ○ . . .
. ○ ○ ▨ . . . . . . . ○ . . . . . ▨ ▨ . ▨ ▨ . . ▨ . . . ▨ ▨ ○ . . ○ ○ ▨ ○ . ○ ○ . ○ . . ○ . . . ○ . . . ○ ○ ▨ ○ . . . ▨ . . ▨ . . . ○ . . . ▨ . . ▨ . . . ▨ ○ . . ▨ . . . . . . ○ ○ . ○ . . . . . ○ . .
○ . . . . ▨ . . ○ ○ . ▨ . . . ▨ . . . . . . ○ . . . . . . . ○ . . ○ ○ ▨ . . ○ ▨ ▨ . . . . ○ ○ . ▨ . ▨ . ▨ . . . . . . ▨ ○ . . ○ ○ . ○ . . ○ . . . ▨ . . ▨ . ○ . . ○ . ○ ○ ▨ ▨ . ○ . . . . ○ ▨ . . ○ . .
▨ . . . ▨ . ▨ . . ▨ . . . . ○ ○ . . . ○ . ▨ . . ○ ○ . . ○ . . ▨ . . ▨ . . ▨ . ○ . ○ . . . . ▨ . ○ . ○ . ○ ○ . ○ . ▨ . ○ . . ▨ . . . . . ▨ . ▨ . . ○ . . . ▨ . ▨ . . . ▨ ○ . . . ○ ○ . ○ ▨ . ○ . . . . ○
. . . ○ . ▨ . ○ . . . . . ▨ ○ . ○ ○ . . ○ . . ▨ ▨ . . . . ▨ ○ . . . ○ ○ . . . . . . . . ▨ . . ○ . . ▨ ○ . . . ○ . . . ▨ . . . ▨ . . ○ . . ○ . . . . ○ ○ . . ▨ . ○ . ○ . . ○ ○ . . . ○ ○ . . . ○ ○ ○ ▨ .
. . . . . . . . ▨ . . . ▨ . ▨ ▨ ○ . ▨ . . ▨ . . ▨ . . . . . . ○ . . . . . . . . . . . ○ . . ○ ▨ . ○ . . ○ ○ . . ▨ . . ○ . ○ . . ▨ ○ ○ ▨ . . . . . . ○ . . . ▨ . . . . . ▨ . ▨ ▨ ○ . . ▨ . . . . ○ . . .
. . . . . . . ○ ○ ▨ . . . ○ . ○ . . ○ ○ ○ . ○ ▨ ○ . . ▨ . . ▨ . . . ○ . ○ . . ▨ . . ▨ ○ . ○ . ○ . ▨ . . . . . . . . . . ▨ . . ▨ . ○ ○ . . . ▨ ○ ○ ○ ○ . . ○ ○ ▨ ○ . ○ . . . . ▨ . ○ . . . ○ . . . . ○ .
. . ○ ○ . ○ . . ○ ▨ . ○ . ▨ ▨ . . . ○ . . ▨ ○ . . . . ○ . . . ○ . ▨ . . . . ▨ ○ ▨ . ○ . . ○ ○ ○ . ○ . ○ . ○ . . . ○ . ○ . ▨ . ○ . . . . ▨ . . . . . ▨ . ○ . . . . . . . . . . . ○ . . . ○ . . . . ▨ . .
▨ . . . . ○ ○ ○ . . . . ○ . . . ○ ○ ▨ . . ▨ . . ○ . . . . . . ○ ▨ . . . ○ . . ○ ▨ . ▨ ▨ . ▨ ○ . . . ○ . ○ ▨ . . . . . . . . . . ○ . ▨ . ▨ ▨ . . . . . . . . . . . ▨ ○ . . . . ○ ○ . ○ ▨ ○ . . . ▨ . ▨ ▨
. ▨ . . . . . . ○ ○ . ○ . ○ ○ ▨ . ▨ . ▨ ○ . ▨ ○ . . . . . . . ○ . . ○ . . ▨ . . . . . . ○ ○ . . ▨ . ○ . ○ . . . . . . ○ . . ○ . ○ . ○ . . . . . . . ▨ ○ . . ○ ○ . . . . ○ . . ▨ . . . . . . . ○ ○ . ▨ .
. . . ▨ ▨ ▨ ▨ ○ ○ . . . ○ . . ○ . . ▨ . . . . . ▨ . . ○ . . . . ○ . . . . . . . . ▨ ▨ . ○ . . . . ▨ . . . ▨ . ○ . ○ ○ ▨ ▨ . . ▨ . . . . . . ○ ○ . ○ . ▨ . . . . ▨ ▨ . . . ▨ . . ○ . . . ○ . ○ . . ○ ▨ .
. . . . . ○ . . . . ○ . ▨ . . ○ . ○ ○ ▨ ▨ . . . ○ ○ ○ ▨ . . . . ▨ ○ ▨ . . . . . ○ ▨ . . . ○ . ○ . ▨ . ○ . . . ○ ○ ○ ▨ . ○ . . . . . . . ○ . . . . . . ○ ○ . ▨ . . . . . . . . . . . . . . ○ . ▨ ○ ▨ . .
. . . . . . . . . . . ○ . . ▨ . . . ▨ ○ ○ ○ ○ . . . . ○ ○ . ▨ ▨ . . . . ○ . ○ . . . . . ○ . . ○ . . . . ○ . . . ○ ▨ . . . . . ▨ . ○ . ○ . . ○ . . . . ○ ▨ . . ▨ . . . . . . . . . . ▨ ○ . ○ . . . . ○ .
. ▨ ○ . ○ . . . ▨ . . ▨ . . . . . . ○ . . . . . . . . . . . ▨ . ○ . . . . . ▨ ▨ ○ . . . ○ ○ . ○ . ○ ○ ○ . . ○ ○ . . . ○ . ○ ○ ▨ . . . . . ○ ○ ▨ . ○ ○ . . . . . ▨ ○ ▨ . . ▨ ○ ▨ . ○ . ○ . ▨ . . ▨ ○ . .
▨ . . . ○ . . ▨ . . ▨ . ○ . . . . . ○ . ○ . ▨ . ▨ . . ▨ . . . ○ ▨ . . ▨ . . ▨ ○ . . ▨ . . . . . ○ ○ ▨ . ▨ . ○ ○ ▨ . . . . . ○ ▨ . . . ○ . ○ ○ . . . . . . . . . . . . . ○ ▨ ○ ○ ○ . . ○ . ○ . . ○ . ○ .
. . . . . . . ○ ▨ ○ . ○ . ▨ . . . . ▨ . . . . . . . . . . . ○ . . . . . . . . . . . . . ○ . . ▨ . . ○ ○ ▨ . . . . . . ○ ○ . ○ . . . ○ . . . . . . . . . . ○ ○ . ▨ . . ○ ○ ▨ ○ ▨ . ○ ▨ ▨ ○ ▨ . . ○ . ○ .
▨ . ▨ . . . . . . ○ . . . . . ○ ○ ○ ○ ○ . ○ ▨ ○ ▨ . . . ▨ . ○ . . . . ▨ . . . ▨ . . ○ ▨ . ▨ ○ . . . . ○ . ○ ▨ ○ ○ . . . . ▨ . . ○ . ○ . ▨ . ▨ . . . ▨ ▨ . ○ ○ . ▨ . ○ ○ ▨ . ▨ ▨ ▨ ○ . . . . . ▨ . . ○ .
○ ○ . . . ○ . ▨ . . . . . . . . . . . . ▨ . ▨ . ▨ . . . ▨ . . ○ ○ . . . . . . ▨ . . ○ . ▨ . . . . . . ▨ ▨ . . ○ ○ . . . . ○ ○ . ▨ . ○ ○ . . . ○ . . . . . . . . . . ○ . ▨ . . ○ . ▨ ○ ▨ ▨ ▨ . ○ . . . ○
▨ ▨ ○ ▨ ▨ ▨ . ○ ○ . ▨ . . . . . . . ○ . ○ ▨ ▨ ▨ ▨ . . . . ○ . ○ . . ○ . ○ ▨ . . ▨ ○ . ○ . ▨ ▨ ○ ▨ . . . . . . ▨ ○ . ▨ ▨ . . . ○ . . ▨ . ▨ ○ . . ▨ ▨ ▨ . . ▨ . . . . . ▨ . . . ▨ . . . ○ ▨ . . . . ○ ○ .
. ▨ . . . . ○ . ▨ ▨ . . . ○ . . . . . . ○ ▨ ▨ ▨ . . . . . . . . ○ . . . . ▨ . ○ ▨ . . . . ▨ . ○ . ▨ . . . . . . . . . . ▨ . ○ . ○ . ○ ○ ○ ○ . . . . . . . ▨ ▨ ▨ . . . ○ . . . . ○ . . . . . . ○ . . . .
. . . ○ . . ▨ . . . ▨ . . ○ . ▨ ○ . . . . . . ▨ ○ ▨ . . ○ . . . . . ○ . . . . ○ . . ▨ . . . ▨ ▨ . ○ ○ ○ ○ . ○ ○ ○ ○ ▨ . . ○ . ▨ . . ▨ . . . . . . . ▨ . ▨ ○ ▨ . . ▨ . . ▨ . ○ ○ ▨ . . ▨ . ▨ . . . . ○ ▨
. . ○ ○ . . . . . . . ○ ▨ . ○ ○ ○ ○ . . . . ○ . . ▨ . . . ○ . ▨ ○ ▨ . . . . ▨ ▨ . . . . . . . . . ▨ ○ ▨ ○ ○ ▨ ○ ▨ . . ▨ . ▨ ▨ . . . . . . . ○ . ○ . . . . . . ▨ . . . . . ▨ . . ○ . ○ . ▨ ○ . . . . . ▨
▨ . ○ . . . . . . . . ○ . . ○ . ▨ . . ▨ . ○ ▨ ○ . . . ▨ ○ ▨ . . . . . . . . ○ ▨ . ○ ▨ ○ . . ○ . . . . . . . . . . . . . ▨ ○ ○ ▨ . . ○ ▨ ○ ○ ○ . . ▨ ○ ▨ ▨ ▨ . . ○ ○ ○ . . . ▨ . ○ . . . . . . . . ▨ ▨ .
. . . . ○ ○ . . . . . . . ▨ . ○ . . ○ . ○ . . . . . . . . ○ ▨ . ▨ . . ○ . ○ . . ○ ○ . . . . . ○ . . . . ○ . . . ○ ▨ . ▨ . . . . ○ . ▨ ○ ▨ . . . . . . . . . ▨ . . . . ○ ○ ▨ ○ ▨ . ▨ ○ ○ . . . ▨ . ▨ ○ .
. ○ . ○ . . ○ . . . . . . . ▨ . ○ ○ . . ▨ . . . ○ . ○ ▨ . ○ . ▨ . ○ . . . . . . ▨ . ○ . . . ○ ○ ○ . . . . . . ○ . ○ . ○ . ▨ . ○ ○ ▨ ○ . ○ . ○ . . . ○ ▨ . . ▨ . ○ ▨ . ▨ . . ▨ ▨ . ○ . ○ . . . ○ . . . .
○ . . ▨ ○ ▨ ○ . ○ ▨ . ▨ . . . ▨ . . ○ . . . . . . . . . . . . ▨ ○ . ○ ○ . . . ○ . . ○ . . . ○ ○ ○ ▨ ▨ . ○ . . ○ ▨ . . . ▨ . ○ . . ○ ▨ . . ○ . ○ . . . ▨ ▨ ○ . ○ ○ ▨ ▨ ○ . . ▨ . . ○ ○ ▨ . ○ ○ . . ▨ ○ ○
. . . ▨ . ○ . . . . . . . ○ . ▨ . ○ . . ○ . ○ . . . . . . . ○ . . . ▨ ▨ ○ . . . ○ ○ . ▨ . . . . ○ . . ○ . . . . . . . . . ○ . ○ . . . ▨ . ○ . . ○ ○ . . . ○ . ○ . ○ . . . . ○ . . . ▨ . . ▨ . ▨ . ○ ○ .
○ ○ . ▨ . . . ○ ○ . ▨ . ○ . . . . . ○ . . . . ○ . . ▨ ▨ ○ ▨ ○ . . ○ . ○ ○ ▨ ○ . . . . ○ . . ○ . ○ . . ▨ . ○ . ○ ○ . . ○ . ○ ▨ . ▨ . . . . . . . ○ . . ○ . . . . . ○ . ▨ ▨ . . . . ○ . ○ . . ▨ . ○ . . .
▨ . . ○ . ▨ ○ ○ . . . . . . ▨ ▨ . . ▨ ○ . ▨ . . . ▨ . . . . . . . . . . . ○ . ▨ ▨ . . . ▨ ○ . . . ○ . ▨ . . ▨ . . ○ . . ○ . . ▨ . . . . . . . . . . . ○ . . . ○ ○ . ○ . . . ○ ▨ . . . . . . . . . ○ ○ ▨
. . . ○ . . ○ ○ . . . . ▨ ▨ . ▨ ▨ ○ . . ○ . ▨ ▨ . . . . . . ▨ ○ . ○ ▨ . ○ ○ . . ○ ▨ . . ○ ○ ○ . ○ ○ . ▨ ▨ ○ ○ ○ . ▨ ○ . . ○ . . . . . ○ . . . . ○ . . . . . . ▨ ○ . . . ○ . ▨ . ○ . . . . . . . . ○ ○ .
○ . ○ . . . . . . . ○ ○ ▨ . . ○ . . ▨ . . ○ . ▨ ▨ ▨ ○ . . . ○ . ▨ . . . ▨ ○ ▨ ○ . . ▨ . ▨ ○ ▨ ○ . ○ . . ▨ ○ ▨ . . . ▨ . ○ ○ . . . ○ . . . . . ▨ . ▨ . ▨ ○ ▨ . . ○ . ○ ▨ . . . . ○ . ○ ▨ . . ▨ ○ . . ○ ▨
. ▨ . . . ○ . ▨ ▨ ▨ . . . . ▨ . . . . . . . ○ . . . . ▨ . . . ○ ○ . . . . . ○ . ▨ . ▨ . ▨ . . . . . ○ . ▨ . . . . . . . ○ . . ▨ . ▨ ▨ . ○ . . ○ ▨ ○ . . ○ ○ . . ○ ○ . . ▨ ○ ▨ . . . . . . ▨ ○ . ▨ . ▨ .
○ . ▨ . ○ . . ▨ ○ . . . . . . . ▨ . . . . . ▨ ○ ▨ . . . . . ○ . ○ ▨ . . . . . . . ○ ▨ ○ . ○ ▨ . . ▨ ▨ . . ○ ○ . ○ . ▨ . . ○ . ○ . . ○ . . . . ○ . . . ▨ ○ . ○ . . . ▨ . . . ▨ ▨ . . ○ . . . . . . . . ○
. . . ○ . . . . . . . . ▨ . . . . . ○ . ▨ ▨ ▨ . . ○ . ○ . ○ . . ▨ . . . . . . ○ . ▨ . . . . . ▨ ○ . ○ . ▨ . . . ○ ▨ . . ○ ▨ . . . . . . ▨ . ○ . . . ▨ ○ ○ ▨ . . . . ▨ ○ . ○ ▨ . . . . . . ○ . . ○ ▨ . ▨
○ . . . ○ . . . ○ ○ . ▨ ▨ . ▨ . ○ ○ ▨ . ▨ ○ ○ ○ . ▨ . ○ . ○ . ▨ ▨ . ○ ▨ . . . . ▨ . . ○ . ○ ▨ ○ . ▨ . . ▨ . . . . . ○ ○ . . ▨ ○ . . . ○ . ○ . . . . . . . . . ○ . . . ▨ . ○ . . . ○ . ▨ . . . ○ . . ○ ○
. . ▨ . . . ○ ○ . ▨ . . ▨ ▨ . ○ . ○ . . ○ . ○ . . . ○ ▨ ▨ . . . . ▨ . ○ . . ○ . ○ ○ ▨ . . . ○ ○ . ○ . . . . . ○ . . . ▨ . ○ . ▨ ▨ ○ ○ . ○ . ○ . ○ ○ . . . . ▨ . ○ . ○ ▨ ▨ ▨ . . ○ ▨ . . ▨ . . . ○ . . ▨
. . ▨ . . ○ . ○ . . . . . ○ . . ○ . . . . . ○ . . . . . ○ ○ . . . ▨ ▨ . ▨ . . . ▨ . . ▨ ▨ . ▨ . . ○ ▨ ○ . . . . . ▨ ▨ . . . ○ . ▨ ○ . . . ○ . ○ . ▨ ○ . . ▨ . . . . ▨ . . . ○ ○ . . ▨ . . ○ . . . ▨ ○ ▨
. . . . . . ▨ . ○ . . . . ○ . . . . . . . . . ○ . . ○ . . . ▨ . ▨ ▨ . . . . ○ ○ . ○ . . . ▨ . . . . . . . . ▨ . . . ▨ . . ○ . ○ ▨ . . . . ▨ . ▨ ▨ . ▨ . ○ ▨ ▨ . ○ . ▨ . . . . . . . ○ ○ . . . . . ○ ▨ .
. ○ . . . . ○ . . . . . ○ . ○ . . ○ . . ▨ . . . ○ . . . . . . ▨ ▨ . . ▨ . ○ ○ . ▨ . . . . . . . . . ▨ . . . ○ . ▨ . ▨ . . . . . ○ . . ○ . . ○ . . ○ . . ○ ○ . . . ○ . . ○ ▨ . ▨ ▨ ○ . . . ▨ . ○ . . . .
. . . . ○ . ▨ . ▨ . ▨ . ▨ . . . . . . . . . ○ . ▨ . . . ▨ . . . . . . ▨ . . . ▨ . ▨ ○ ▨ . ○ . ○ ▨ . . . . ▨ . . . ○ ▨ . . . . ○ . ○ ▨ ○ . . . . . . . ○ ▨ . . . . . . . ▨ ○ . . . ○ . . ○ . . ▨ . ○ ▨ ○
. . . ○ . . . . . . ○ ○ . . . . . . . ▨ ○ . ○ . ▨ . . . ○ ○ . . . . . . . ○ . . . . . . . . . ▨ ▨ ○ . . . . . . . ○ . . . . . . . ▨ . . ▨ ▨ . . . . ▨ ▨ . ▨ . ▨ ○ . ▨ ○ . . . . ▨ ▨ . . . . ▨ . . . . ○
. . . . ○ . . . ▨ ○ ○ . . ○ . . ○ . . . ▨ . . . . . ○ . ▨ ○ . . ○ ○ ▨ . . . . . . ○ ▨ ○ ○ . . ▨ . . . . ○ . . . . ○ ○ ○ . ○ . ○ . . . . ▨ . . ○ . ▨ . . . ○ ▨ . . . . . . . . ○ . . . ○ . ▨ . ▨ ○ . . .
. ○ . . . . ○ . . . . ○ ○ . . . ○ . . . . . . ▨ ▨ . . . ▨ ○ . . . . . ▨ . . . ○ . . . . . . ○ . . . . ○ . ▨ ▨ ○ ○ . . . . . . . ▨ . . . . ○ . . . . ○ . . . . ○ . ○ . . . ▨ ▨ ○ . . . ▨ . ○ ○ . . . . .
▨ ○ ○ . ○ . . ▨ . . ○ . ○ ▨ ▨ . . . ▨ . . ▨ . ○ . ○ . . ○ ▨ ○ . ▨ . . . . . . . ○ . ▨ ○ . . ○ . . ○ . . . . . ○ . . . . . . . ○ ▨ . . . ○ . . . ○ . . . . . . . . . ▨ ▨ . . ○ ○ ▨ . . ○ . ○ ▨ . ▨ ▨ . .
○ . ▨ ○ ▨ ▨ ▨ ▨ . . . ▨ ○ . ○ ▨ . ▨ ○ ○ . . ▨ ○ . . ○ . . . . ○ ○ . ▨ ○ ▨ . . . . ○ . . . . . . . . ○ . . ▨ . ▨ ○ ○ . . . . . ○ . . . ○ . . . ○ . . . . . . . ▨ . ○ ▨ . . ○ . . ▨ . ▨ ○ . ○ . . ▨ . ○ .
○ . ▨ . . . . . ▨ . ▨ . . . . . ▨ . . . . . . . . ○ ▨ . . . ▨ ▨ ○ . . . . ▨ . . . . ○ . . ○ . ○ . . . . . ○ ▨ ○ . ○ ○ . . . . . . . . . . ○ . . ▨ ▨ ○ . ○ . . . ○ . . . ▨ . . . . . ▨ . . . . ○ . ○ . .
. . . . ▨ ○ ○ ▨ . ▨ ○ . . . ○ ▨ ▨ ▨ . ○ . ▨ . . ▨ . . . ○ . . . . ○ . . . . . . . . . ○ . ▨ . . . ○ ○ ▨ . . . . . ▨ . . . . ○ . . ▨ ▨ . . . ○ . . ▨ ▨ ○ . . . . . . ○ ○ . ○ ▨ . . . . . . . . . . ○ ○ .
○ . . . . ○ . . . ○ ▨ ○ . . . ▨ . ▨ ○ . . . ▨ . ○ ○ . . . ○ . . . . . ▨ ○ ▨ . ○ . . ○ ○ ○ ▨ . ○ ○ . . . . . ▨ . . . ▨ ○ ▨ . . . . ○ ▨ . . ○ ▨ ▨ . . ○ . ○ . ▨ ○ ▨ ○ ▨ ▨ ▨ . ○ ○ . . . . ○ . . . ○ ▨ . .
▨ . . . ○ . . ○ ▨ ▨ . . ▨ ○ . ○ ▨ ○ ○ . . . . ▨ ○ . . . ▨ . ○ ▨ . . . ▨ ▨ . . . ○ ▨ . . . . . . ○ . ▨ . . . ▨ . . . . ○ ▨ . . . . ○ . . . . . ○ ○ ○ ▨ . . . . ○ . . ▨ ○ ▨ . ○ ▨ ○ . . . . ○ . ▨ ○ . . .
▨ . ○ . . . . ▨ ▨ ○ . ▨ . ○ ○ ○ . . ○ ▨ . ○ . . ▨ ▨ ○ ▨ ○ . ▨ ○ ▨ . . ▨ . . . . . ○ . . . . ▨ ▨ . . . ▨ . . ○ . . . . . . . . ▨ . ○ . . . . ○ . . ▨ . . . . . ▨ ▨ . ▨ . . . . . . . ▨ ○ ○ . . . ▨ ○ . .
. . . ○ . . . . . ▨ . . . . . ▨ . ▨ . . . . ○ . . . . . . . . . ○ . . . . . ▨ ○ . . . . ○ . . ○ ○ . . . . . ▨ ○ . ▨ . . . . ▨ . . . ▨ . ▨ ○ . ○ . . . ▨ ○ ○ ▨ . . . . . . . . . . . . . ○ . ○ ▨ . . ○ ▨
. . ▨ ○ . . ▨ . . ▨ . . . . . . . ▨ . . . . ▨ . ▨ . . . . . . . ▨ ○ . . ▨ ○ ▨ . . . . ○ . ▨ ○ . ▨ . . . . . . ▨ . ▨ . . . ▨ ○ . . . . . . . . ○ . . . . . ○ . ▨ . . ▨ ▨ . . ○ ▨ . ▨ ▨ . . . ▨ ○ ○ . . .
. ○ . ▨ . . . ▨ . ○ . ○ . . . . . . ○ ○ ○ ○ ○ . . ○ . ▨ ○ . . . ○ ▨ ○ . ▨ ▨ ▨ ▨ ▨ . . . ▨ . . ○ ▨ . . . . ○ . . . . ▨ . . . ○ . ▨ ▨ . . ▨ ○ . . . . . . ○ . . ▨ ▨ ▨ ○ . ▨ . . . . . . . . ▨ . ○ . . . .
. . . . ▨ ▨ . ▨ . . ○ . . . . . . . . ○ ▨ ○ . ▨ ○ ▨ . . ▨ . . . . . ○ ▨ ○ . ○ ▨ . . . . . ▨ . . . . . ▨ . . . . . . . . ○ ○ . . . . . ▨ . . . . ○ . . ▨ . ○ . . . . ○ . ▨ ○ . ○ . ○ . . . ▨ . ▨ ▨ . . ▨
. . ▨ . . ○ . ▨ ○ ▨ . . ○ . . . ○ . ○ . . . . . . . . . . . . . ○ . . . . . ▨ . . ○ ○ ○ . . . ▨ ○ ▨ . . ○ . . . ▨ . . ▨ ▨ . . . ○ . . . ○ . . . . . . . . ▨ . . . . ▨ . . ○ . ○ . . . ▨ ▨ . ○ ○ . . ▨ ▨
. . ○ ○ ▨ . ○ . . ○ . . . . . ○ . . . ○ . ▨ ▨ . . . ○ ○ . ○ . . . ○ . . . . ▨ . . ○ . ▨ ○ . . . . . . . ▨ . ▨ ○ ▨ . ○ ○ . . . . . . . ▨ . ▨ . . . ○ . . ▨ . . . . . . ○ . . ▨ ▨ . . ▨ ▨ . ○ . . ○ ▨ ○ .
",
    win: (
        general: (
            max_moves: None
        ),
        rocks: Pos([
            (x: 3, y: 0),
        ])
    )
)